<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/login" class="form" id="login" method="post">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error" id="loginError"></div>
            <div class="form__input-group">
                <input type="text" name="email" class="form__input" autofocus placeholder="Email">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" name="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a href="/passwordreset" class="form__link">Change your password</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="/signup" id="linkCreateAccount">Don't have an account? Register here</a>
            </p>
        </form>
    </div>

<script>
    $(document).ready(function() {
        $('#login').submit(function(e){
                e.preventDefault();
                var email = $('input[name="email"]').val();
                var password = $('input[name="password"]').val();
                axios.post('/login', { email: email, password: password })
                    .then(function(response) {
                        window.location.href = '/home';
                    })
                    .catch(function(error) {;
                        const errorMessage = error.response.data.error;
                        $('#loginError').text(errorMessage);
                    });
            });
        });
</script>
</body>
</html>